@model Forum.Web.ViewModels.ProfileIndexVm
@{
    ViewData["Title"] = "Index";
}

@if (Model.IsDeleted == true)
{
    <h3 class="text-danger">This account has been deleted.</h3>
}
else
{
    <h3>@Model.Username</h3>

    @if (Model.UserStateId == Model.UserId)
    {
        <div class="d-flex justify-content-between">

            <a asp-action="ChangeUsername" class="btn btn-secondary">Change username</a><br />
            <a asp-action="ChangePassword" class="btn btn-secondary">Change password</a><br />
            <a asp-action="DeleteProfile" class="btn btn-secondary">Delete profile</a>

        </div>
    }

    <div class="d-flex justify-content-between">
        <a href="#posts" class="list-group-item list-group-item-action flex-column" data-toggle="collapse" aria-expanded="false">
            <h3>Posts</h3>
        </a>
    </div>

    <ul class="list-group collapse" id="posts">
        @foreach (var post in Model.UserPosts)
        {
            <li>
                <div class="d-flex justify-content-between">
                    <a href="/@post.Category.Theme.Title/@post.Category.Title/@post.Id" class="list-group-item list-group-item-action flex-column ">
                        <h5>@post.Title</h5>
                        <span>@post.Content</span>
                    </a>
                    <span class="text-muted col-3">
                        Created by @post.User.Username<br />
                        on @post.DateTime.ToString("HH:mm, dd MMMM yyyy")<br />
                    </span>
                </div>
            </li>
        }
    </ul>

    <div class="d-flex justify-content-between">
        <a href="#comments" class="list-group-item list-group-item-action flex-column" data-toggle="collapse" aria-expanded="false">
            <h3>Comments</h3>
        </a>
    </div>

    <ul class="list-group collapse" id="comments">
        @foreach (var comment in Model.UserComments)
        {
            <li>
                <div class="d-flex justify-content-between">
                    <a href="/@comment.Post.Category.Theme.Title/@comment.Post.Category.Title/@comment.Post.Id" class="list-group-item list-group-item-action flex-column ">

                        @if (comment.IsDeleted)
                        {
                            <span>[deleted]</span>
                        }
                        else
                        {
                            <span>@Html.Raw(comment.Content.Replace(Environment.NewLine, "<br/>"))</span>
                        }
                    </a>
                    <span class="text-muted col-3">
                        Created on<br />
                        @comment.DateTime.ToString("HH:mm, dd MMMM yyyy")<br />
                    </span>
                </div>
            </li>
        }
    </ul>
}