@model Forum.Web.ViewModels.ProfileIndexVm
@{
    ViewData["Title"] = "Index";
}

<h3>@Model.Username</h3>

<div class="d-flex">

    <a asp-action="ChangeUsername" class="btn btn-secondary">Change username</a><br />
    <a asp-action="ChangePassword" class="btn btn-secondary">Change password</a>

</div>

<div class="d-flex justify-content-between">
    <a href="#posts" class="list-group-item list-group-item-action flex-column" data-toggle="collapse" aria-expanded="false">
        <h3>Posts</h3>
    </a>
</div>

<ul class="list-group collapse" id="posts">
    @foreach (var post in Model.UserPosts)
    {
        <li>

            <div class="d-flex justify-content-between">
                <a href="/@post.Category.Theme.Title/@post.Category.Title/@post.Id" class="list-group-item list-group-item-action flex-column ">
                    <h5>@post.Title</h5>
                    <span>@post.Content</span>
                </a>
                <span class="text-muted col-3">
                    Created by @post.User.Username<br />
                    on @post.DateTime.ToString("HH:mm, dd MMMM yyyy")<br />
                </span>
            </div>
        </li>
    }
</ul>
