@model Forum.Web.ViewModels.CommentsIndexVm
@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-header">
        <h2>@Model.Post.Title</h2>
    </div>
    <div class="card-body">
        <div>@Model.Post.Content</div>
        <div class="font-weight-bold">@Model.Post.User.Username</div>
        <div class="text-muted">@Model.Post.DateTime</div>
    </div>
</div>

<ul class="list-group">
    @foreach (var com in Model.Comments)
    {
        <li class="list-group-item">
            <div class="font-weight-bold">@com.User.Username</div>
            <div>@com.Content</div>
            <div class="text-muted">@com.DateTime</div>
        </li>
    }
</ul>

