@model Forum.Web.ViewModels.CommentsIndexVm
@{
    ViewData["Title"] = "Index";
}

<div class="card">
    <div class="card-header">
        <h2>@Model.Post.Title</h2>
    </div>
    <div class="card-body flex-column">
        <span class="font-weight-bold">@Model.Post.User?.Username</span>
        <div class="d-flex justify-content-between">
            <span>@Model.Post.Content</span>
            <span class="text-muted">@Model.Post.DateTime.ToString("HH:mm, dd MMMM yyyy")</span>
        </div>
    </div>
    
</div>

<form asp-controller="Comments" asp-action="CreateComment" method="post">
    <div class="form-group">
        <textarea asp-for="Content" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-light">Post</button>
</form>

<ul class="list-group">
    @foreach (var com in Model.Comments)
    {
    <li class="list-group-item flex-column">
        <span class="font-weight-bold">@com.User?.Username</span>
        <div class="d-flex justify-content-between">
            <span>@com.Content</span>
            <span class="text-muted">@com.DateTime.ToString("HH:mm, dd MMMM yyyy")</span>
        </div>
    </li>
    }
</ul>

