@model Forum.Web.Areas.Admin.Models.ThemeViewModel
@{
    ViewData["Title"] = "Admin Home";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="row">
    <div class="mb-3 mx-3 col-5">
        <div class="card">
            <h2 class="card-header">Add a theme</h2>

            <form asp-controller="Home" asp-action="CreateTheme" method="post" class="card-body">
                <div class="form-group">
                    <label asp-for="Theme"></label>
                    <input asp-for="Theme" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                </div>
                <input type="submit" value="Create theme" class="btn btn-danger" />
            </form>
        </div>
    </div>

    <div class="mb-3 mx-3 col-5">
        <div class="card">
            <h2 class="card-header">Add a category</h2>

            <form asp-controller="Home" asp-action="CreateCategory" method="post" class="card-body">
                <div class="form-group">
                    <label asp-for="CategoryTheme"></label>
                    <select asp-for="CategoryTheme" class="form-control">
                        @foreach (var theme in Model.Themes)
                        {
                            <option value="@theme.Id">@theme.Title</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="Category"></label>
                    <input asp-for="Category" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                </div>
                <input type="submit" value="Create category" class="btn btn-danger" />
            </form>
        </div>
    </div>

    <div class="mb-3 mx-3 col-5">
        <div class="card">
            <h2 class="card-header">Edit a theme</h2>

            <form asp-controller="Home" asp-action="UpdateTheme" method="post" class="card-body">
                <div class="form-group">
                    <label>Selected theme: </label>
                    <select asp-for="Theme" class="form-control">
                        @foreach (var theme in Model.Themes)
                        {
                            <option value="@theme.Id">@theme.Title</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="NewThemeInput"></label>
                    <input asp-for="NewThemeInput" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Enter the new description of the theme. </label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                </div>
                <input type="submit" value="Update theme" class="btn btn-danger" />
            </form>
        </div>
    </div>

    <div class="mb-3 mx-3 col-5">
        <div class="card">
            <h2 class="card-header">Edit a category</h2>

            <form asp-controller="Home" asp-action="UpdateCategory" method="post" class="card-body">
                <div class="form-group">
                    <label>Selected category: </label>
                    <select asp-for="Category" class="form-control">
                        @foreach (var categories in Model.Categories)
                        {
                            <option value="@categories.Id">@categories.Theme.Title/@categories.Title</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label asp-for="NewCategoryInput"></label>
                    <input asp-for="NewCategoryInput" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Description"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                </div>
                <input type="submit" value="Edit category" class="btn btn-danger" />
            </form>
        </div>
    </div>

    <div class="mb-3 mx-3 col-5">
        <div class="card">
            <h2 class="card-header">Remove a theme</h2>

            <form asp-controller="Home" asp-action="RemoveTheme" method="post" class="card-body">
                <div class="form-group">
                    <label>Selected theme: </label>
                    <select asp-for="Theme" class="form-control">
                        @foreach (var theme in Model.Themes)
                        {
                            <option value="@theme.Id">@theme.Title</option>
                        }
                    </select>
                </div>
                <input type="submit" value="Remove theme" class="btn btn-danger" />
            </form>
        </div>
    </div>

    <div class="mb-3 mx-3 col-5">
        <div class="card">
            <h2 class="card-header">Remove a category</h2>

            <form asp-controller="Home" asp-action="RemoveCategory" method="post" class="card-body">
                <div class="form-group">
                    <label>Selected category: </label>
                    <select asp-for="Category" class="form-control">
                        @foreach (var categories in Model.Categories)
                        {
                            <option value="@categories.Id">@categories.Theme.Title/@categories.Title</option>
                        }
                    </select>
                </div>
                <input type="submit" value="Remove category" class="btn btn-danger" />
            </form>
        </div>
    </div>
</div>