@model Forum.Web.ViewModels.CategoriesIndexVm
@{
    ViewData["Title"] = "Index";
}

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item active">@Model.Theme.Title</li>
    </ol>
</nav>

<h2>@Model.Theme.Title</h2>
<p>@Model.Theme.Description</p>

<ul class="list-group">
    @foreach (var cat in Model.CategoriesBytheme)
    {
        <li>
            <a asp-controller="Posts" asp-action="Index" asp-route-theme="@Model.Theme.Title" asp-route-category="@cat.Title" class="list-group-item list-group-item-action">
                <h5>@cat.Title</h5>
            </a>
        </li>
    }
</ul>