@model Forum.Web.ViewModels.PostsIndexVm
@{
    ViewData["Title"] = "Index";
}

<h2>@Model.Category.Title</h2>
<p>@Model.Category.Description</p>

<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal">New Post</button>

<!--Modal-->
<form asp-controller="Posts" asp-action="CreatePost" method="post">
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">New Post</h4>

                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label asp-for="Title">Title</label>
                        <input asp-for="Title" class="form-control" />
                        <label asp-for="Content">Comment</label>
                        <textarea asp-for="Content" class="form-control"></textarea>
                    </div>
                    <input asp-for="CategoryId" type="hidden" value="@Model.Category.Id" />
                    <input asp-for="ActiveTheme" type="hidden" value="@Model.Theme.Title" />
                    <input asp-for="ActiveCategory" type="hidden" value="@Model.Category.Title" />
                    <button type="submit" class="btn btn-light">Post</button>
                </div>
            </div>
        </div>
    </div>
</form>

<ul class="list-group">
    @foreach (var post in Model.PostsByCategory)
    {
        <li>
            <a href="/@Model.Theme.Title/@Model.Category.Title/@post.Id" class="list-group-item list-group-item-action flex-column">
                <div class="d-flex justify-content-between">
                    <h5>@post.Title</h5>
                    <span class="text-muted">Created by @post.User.Username <br /> on @post.DateTime.ToString("HH:mm, dd MMMM yyyy")</span>
                </div>
            </a>
        </li>
    }
</ul>

