@model Forum.Web.ViewModels.PostsIndexVm
@{
    ViewData["Title"] = "Index";
}

<nav>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a href="/@Model.Theme.Title">@Model.Theme.Title</a></li>
        <li class="breadcrumb-item active">@Model.Category.Title</li>
    </ol>
</nav>

<h2>@Model.Category.Title</h2>
<p>@Model.Category.Description</p>

@if (Model.IsLoggedIn == true)
{
    <button type="button" class="btn btn-secondary mb-3" data-toggle="modal" data-target="#myModal">New Post</button>
    <!--Modal-->
    <form asp-controller="Posts" asp-action="CreatePost" method="post">
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title">New Post</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <div class="modal-body">
                        <div class="form-group">
                            <label asp-for="Title">Title</label>
                            <input asp-for="Title" class="form-control" />
                            <label asp-for="Content">Comment</label>
                            <textarea asp-for="Content" class="form-control"></textarea>
                        </div>
                        <button type="submit" class="btn btn-secondary">Post</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
}

<form asp-controller="Posts" asp-action="Search" method="post">
    <div class="row mb-3">
        <div class="col-5">
            <input asp-for="SearchString" class="form-control" />
        </div>
        <button type="submit" class="btn btn-secondary col-1">Search</button>
    </div>
</form>

<ul class="list-group">
    @foreach (var post in Model.PostsByCategory)
    {
        <li class="flex-column list-group-item list-group-item-action">
            <div class="d-flex justify-content-between">
                <a href="/@Model.Theme.Title/@Model.Category.Title/@post.Id" class="list-group-item-action">
                    <h5>@post.Title</h5>
                    <span>@Html.Raw(post.Content.Replace(Environment.NewLine, "<br/>"))</span>
                </a>
                <div class="font-italic col-1">
                    <span>@(post.LikedPosts.Distinct().Count()) @((post.LikedPosts.Distinct().Count() == 1) ? "like" : "likes")</span>
                    @{
                        bool likedByUser = false;
                        foreach (var lp in post.LikedPosts.Distinct())
                        {
                            if (lp.UserId == Model.UserId)
                            {
                                likedByUser = true;
                                break;
                            }
                        }
                        if (Model.IsLoggedIn)
                        {
                            if (likedByUser)
                            {
                                <a asp-action="Like" asp-route-id="@post.Id" asp-route-like="false" class="fas fa-thumbs-up"></a>
                            }
                            else
                            {
                                <a asp-action="Like" asp-route-id="@post.Id" asp-route-like="true"><i class="far fa-thumbs-up"></i></a>
                            }
                        }
                    }
                </div>
                <span class="text-muted col-3 text-right">
                    Created by @(post.User?.Username ?? "[deleted]")<br />
                    @post.DateTime.ToString("HH:mm, dd MMMM yyyy")<br />
                    @if (Model.IsLoggedIn == true && post.User?.Id == Model.UserId)
                    {
                        <a asp-action="Edit" asp-route-id="@post.Id" class="btn btn-secondary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@post.Id" class="btn btn-secondary">Delete</a>
                    }
                </span>
            </div>
        </li>
    }
</ul>

